In [2]:
import pandas as pd 
import json

In [3]:
df = pd.read_excel('../data_sample/Data_Labeling.xlsx')
df.head()

  ImageName VietnameseName EnglishName      Price
0  001.jpeg        COMBO 1     COMBO 1     169000
1  001.jpeg        COMBO 2     COMBO 2     169000
2  001.jpeg        COMBO 3     COMBO 3     169000
3  001.jpeg      RƯỢU SOJU        SOJU  NOT GIVEN
4  001.jpeg     RƯỢU VODKA       VODKA  NOT GIVEN

In [15]:
df.shape

(15211, 4)

In [16]:
df.drop_duplicates(['VietnameseName'], inplace=True)

df.shape

(10163, 4)

In [17]:
dictionary_food = {}

for vi, en in zip(df['VietnameseName'], df['EnglishName']):
    dictionary_food[vi] = en

In [18]:
list(dictionary_food.items())[:12]

[('COMBO 1', 'COMBO 1'),
 ('COMBO 2', 'COMBO 2'),
 ('COMBO 3', 'COMBO 3'),
 ('RƯỢU SOJU', 'SOJU'),
 ('RƯỢU VODKA', 'VODKA'),
 ('TIGER LON', 'TIGER CAN'),
 ('TIGER CHAI', 'TIGER BOTTLE'),
 ('TIGER BẠC CHAI', 'CRYSTAL TIGER CAN'),
 ('TIGER BẠC LON', 'CRYSTAL TIGER BOTTLE'),
 ('COCA', 'COCA'),
 ('SPRITE', 'SPRITE'),
 ('SUỐI', 'WATER')]

In [19]:
with open('dictionary_food_translate.json', 'w', encoding='utf-8') as f:
    json.dump(dictionary_food, f)

In [20]:
with open('dictionary_food_translate.json', 'r', encoding='utf-8') as f:
    test = json.load(f)
    
list(test.items())[:12]

[('COMBO 1', 'COMBO 1'),
 ('COMBO 2', 'COMBO 2'),
 ('COMBO 3', 'COMBO 3'),
 ('RƯỢU SOJU', 'SOJU'),
 ('RƯỢU VODKA', 'VODKA'),
 ('TIGER LON', 'TIGER CAN'),
 ('TIGER CHAI', 'TIGER BOTTLE'),
 ('TIGER BẠC CHAI', 'CRYSTAL TIGER CAN'),
 ('TIGER BẠC LON', 'CRYSTAL TIGER BOTTLE'),
 ('COCA', 'COCA'),
 ('SPRITE', 'SPRITE'),
 ('SUỐI', 'WATER')]